body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

    padding-left: 10px;
}
h1{
    text-align: left;
    font-size: 20px;
    animation: showHead 3s ease;
}
#sitehead::after{
    content: "A super lightweight Covid19 tracker";
    font-size: .5rem;
    font-weight: 100;
    display: block;
    margin-top: -2px;
}
.centered{
    text-align: left;
    opacity: 1;
}
#fetching{
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
}
#head::after{
    content: "";
    animation: dot 3s infinite;
}
#fetching2{
    font-size: .5rem;
    text-align: center;
}
#load{
    margin: auto;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    animation: rotate 1s ease-in-out infinite;
}

#last{
    margin-top: 10px;
}
#worldhead{
    margin-top: 120px;
    text-decoration: underline;
}
#indiahead{
    margin-top: 20px;
    text-decoration: underline;
}
#worldbracket{
    margin-bottom: 20px;
    font-size: .6rem;
}
.total{
    color: rgb(165, 0, 0);
}
.recovered{
    color: rgb(3, 122, 83);
}
.deaths{
    color: rgb(34, 34, 34);
}
#t{
    font-size: 13px;
    margin-bottom: -10px;
}

#foot1{
    font-size: 7px ;
    position: absolute;
    bottom: 13px;
    animation: show 3s ease;
}
#foot2{
    font-size: 7px ;
    position: absolute;
    bottom: 0;
    animation: show 3s ease;
}


/* animations */
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes show {
    from{
        opacity: 0;
        transform: scale3d(.9,.9,.9);
    }
    to{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}
@keyframes showHead {
    from{
        opacity: 0;
        transform: scaleZ(.6);
    }
    to{
        opacity: 1;
        transform: scaleZ(1);
    }
}
@keyframes dot{
    33%{
        content: ".";
    }
    66%{
        content: "..";
    }
    100%{
        content: "...";
    }
}